[project]
	description = display a transparent ui with ActiveX
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/can.zeng (zengcan)
[access "refs/for/refs/*"]
	read = group user/can.zeng (zengcan)
	push = group user/can.zeng (zengcan)
	label-Code-Review = -2..+2 group user/can.zeng (zengcan)
	label-Verified = -1..+1 group user/can.zeng (zengcan)
	rebase = group user/can.zeng (zengcan)
	removeReviewer = group user/can.zeng (zengcan)
	submit = group user/can.zeng (zengcan)
[access "refs/heads/*"]
	read = group user/can.zeng (zengcan)
	create = group user/can.zeng (zengcan)
	push = +force group user/can.zeng (zengcan)
	pushMerge = group user/can.zeng (zengcan)
[access "refs/tags/*"]
	push = group user/can.zeng (zengcan)
	push = +force group user/can.zeng (zengcan)
